@import "../variables";

.home {
  .main {
    padding: 60px 72px;
    height: 86vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 18px;
    background: url("../assets/bg.jpg") no-repeat center / cover;

    .card {
      grid-row: span 1;
      grid-column: span 1;
      &:nth-child(1) {
        grid-row: span 2;
        grid-column: span 2;
      }
    }
  }

  .content {
    padding: 60px 72px;
    @include flex-sb();
    column-gap: 240px;
    background: black;
    background: url("../assets/clouds.jpg") no-repeat center / cover;
    .text {
      h2 {
        margin-bottom: 40px;
        padding: 4px;
        font-size: 2.25rem;
        color: hsl(193, 100%, 46%);
      }
      p {
        margin-bottom: 20px;
        line-height: 1.45;
        color: hsl(0, 0%, 24%);
      }
      button {
        margin-top: 40px;
        padding: 8px 20px;
        min-width: 112px;
        @include flex-center();
        color: white;
        font-weight: 700;

        background-color: hsl(193, 100%, 46%);
        border-radius: 24px;
        box-shadow: rgb(0 0 0 / 10%) 0px 1px 4px;
        cursor: pointer;
      }
    }
    .image {
      img {
        width: 500px;
        border-radius: 8px;
        object-fit: cover;
      }
    }
  }
}
